<div class="row page-header">
  <div class="col-lg-12">
    <h1>{{pageHeader.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="rating">
          <!-- OUTPUT STARS HELPER FUNCTION DEFINE IN APP.JS
          times: function(rating)
            variable = '';
            for (var i=0; i<=rating; i++)
            variable += <span>glyphicaon...</span>;
            for (i=rating; i<5; i++)
            variable+= <span>emptystar</span>
            return variable; // renders it in place of f call

          CALL IT WITH THIS
          http://stackoverflow.com/questions/11924452/iterating-over-basic-for-loop-using-handlebars-js

          OR this
          https://github.com/ericf/express-handlebars

          -->
          {{foo}}

        </p>
        <p>location.address</p>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Hours</h2>
          </div>
          <div class="panel-body">
            {{#each }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>






<!-- title: 'Loc8r - Find a place to work with wifi',
pageHeader: {
  title: 'Loc8r',
  strapline: 'Find a place to work with wifi near you'
},
sidebar: "Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffe, cake or a pint? Let Loc8r help you find the place you're looking for.",
locations: responseBody,
message: message -->

  <!-- <h1>Hello {{thisisthecontext}}, from locations-list.handlebars</h1>
  {{>testinsert}} -->
