<div class="row page-header">
  <div class="col-lg-12">
    <h1>{{pageHeader.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-">

      </div>
    </div>
  </div>
</div>






<!-- title: 'Loc8r - Find a place to work with wifi',
pageHeader: {
  title: 'Loc8r',
  strapline: 'Find a place to work with wifi near you'
},
sidebar: "Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffe, cake or a pint? Let Loc8r help you find the place you're looking for.",
locations: responseBody,
message: message -->

  <!-- <h1>Hello {{thisisthecontext}}, from locations-list.handlebars</h1>
  {{>testinsert}} -->
